﻿@model Escola.Models.Inscrição

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Inscrição</legend>
    <dl>
        <dt>
            Aluno
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aluno.NomeCompleto)
        </dd>

        <dt>
            UC
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UC.Sigla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInscrição)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInscrição)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDeNota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDeNota)
        </dd>

    </dl>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
