﻿@model Escola.Models.AlunoDepartamento

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h3>Usando ViewBag</h3>

<table class="table">
<tr>
        <th>
            Nome
       </th>
           <th>
            Pronome
        </th>
        <th></th>
    </tr>

    @{
 
        //List<Escola.Models.Aluno> alunos = ViewBag.alunos;

        foreach (var item in ViewBag.alunos)
        {
            @:<tr>
                @:<td>
                    @item.Nome;
                @:</td>
                @:<td>
                    @item.Pronome;
                @:</td>
            @:</tr>
        }
    }

</table>
        
<table class="table">
<tr>
        <th>
            Sigla
       </th>
           <th>
            Denominação
        </th>
        <th></th>
    </tr>        
 
    @{
        //List<Escola.Models.Departamento> departamentos = ViewBag.departamentos;

        foreach (var item in ViewBag.departamentos ) {
            @:<tr>
                @:<td>
                    @item.Sigla;
                @:</td>
                @:<td>
                    @item.Denominação;
                @:</td>
            @:</tr>
        }
    }
</table>

<h3>Usando ViewModel passado por parâmetro</h3>

<table class="table">
    <tr>
        <th>
            Nome
        </th>
        <th>
            Pronome
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.alunos)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pronome)
            </td>
        </tr>
    }
</table>

<table class="table">
    <tr>
        <th>
            Sigla
        </th>
        <th>
            Denominação
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.departamentos)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sigla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Denominação)
            </td>
        </tr>
    }
</table>